* {
  padding: 0;
  margin: 0;
  font-family: "Open-sans", sans-serif;

}

body {
  border: 1px red solid;
  width: 1120px;
  height: 3054px;
  padding-top: 80px;
  padding-left: 88px;
  padding-right: 88px;
  padding-bottom: auto;

}

.headline {
  text-transform: uppercase;
  font-weight: bold;
  color: #e1624f;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 8px;
}

.italic {
  font-style: italic;
  text-align: center;
  margin-top: 24px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 4px;
}

ul {
  font-weight: bold;
  font-size: 16px;
}

li {
  color: #0c51a7;
}

.primary img {
  margin-top: 44px;
}

.destinos img {
  margin-top: 48px;
}

.line {
  border: 1px solid rgba(217, 217, 217, 1);
  margin-top: 40px;
}

.second .headline {
  margin-top: 64px;
  margin-bottom: 4px;
}

.second > p {
  margin-top: 8px;
}

h3 {
  margin-top: 20px;
}

.tex p {
  margin-top: 4px;
}

.final p {
  margin-top: 40px;
}

footer {
  margin-top: 65px;
  justify-content: center;
  text-align: center;
}

footer img {
  vertical-align: middle;
}

span {
  color: #0C51A7;
}

img {
  border-radius: 28px;
}